:root {
	--popper-theme-background-color: #{$black};
	--popper-theme-background-color-hover: #{$black};
	--popper-theme-text-color: #fff;
	--popper-theme-border-width: 1px;
	--popper-theme-border-style: solid;
	--popper-theme-border-radius: 6px;
	--popper-theme-border-color: #{$light-blue};
	--popper-theme-padding: 32px;
	--popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}

body {
	background-color: $blue;
}

h2, h4 {
	color: #fff;
}

#app {
	background-color: $blue;
	color: $text-color;
}

.vs {
	&__search{
		display: none;
	}

	&__dropdown {
		&-toggle {
			height: 31px;
		}

		&-menu {
			background-color: $black;
			border-top: 1px solid #a69680;
			min-width: 100%;
		}

		&-option {
			&--highlight {
				background-color: $black;		
			}
		}
	}

	&__selected {
		color: $text-color;
	}
}

.icon {
	&-btn {
		svg {
			fill: $light-blue;
			width: 25px;
			height: 25px;
		}
	}
}

.block {
	background-color: $blue;
	padding: 1rem;

	&__title {
		margin-bottom: 1rem;
	}
}

.text {
	&-overflow {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.font {
	&-12 {
		font-size: 12px;
	}
}

.Va\(sub\) {
	vertical-align: sub;
}