body {
	background-color: $blue;
}

h2, h4 {
	color: #fff;
}

#app {
	background-color: $blue;
	color: $text-color;
}

.vs {
	&__search{
		display: none;
	}

	&__dropdown {
		&-toggle {
			height: 31px;
		}

		&-menu {
			background-color: $black;
			border-top: 1px solid #a69680;
			min-width: 100%;
		}

		&-option {
			&--highlight {
				background-color: $black;		
			}
		}
	}

	&__selected {
		color: $text-color;
	}
}

.icon {
	&-btn {
		svg {
			fill: $light-blue;
			width: 25px;
			height: 25px;
		}
	}
}

.block {
	background-color: $blue;
	padding: 1rem;

	&__title {
		margin-bottom: 1rem;
	}
}

.text {
	&-overflow {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.font {
	&-12 {
		font-size: 12px;
	}
}